:root{
    --accent-color: #4D5AE5;
}

ul,
ol {
    list-style: none;
    text-decoration: none;
}

.list {
    list-style: none;

}
.link {
    text-decoration: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}


/*======================= HEADER =======================*/

.logotype {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
color: var(--accent-color);
}


.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.email {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}

.email:hover,
.email:focus {
    color: var(--accent-color);
}

.tel {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.tel:hover,
.tel:focus {
    color: var(--accent-color);
}

/*======================= /HEADER =======================*/



/*======================= HERO =======================*/

.hero-titel {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    /*color: #FFFFFF;*/
}

.modal-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
text-transform: uppercase;
cursor: pointer;
background-color: var(--accent-color);
color: #FFFFFF;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}
/*======================= /HERO =======================*/



/*======================= FEATURE =======================*/

.feature-subtitle{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
Color: #2E2F42;
}

.feature-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/*======================= /FEATURE =======================*/



/*======================= WORK =======================*/
.works-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

.works-img{

}
/*======================= /WORK =======================*/



/*======================== TEAM =======================*/
.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

.team-img{

}

.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}
/*======================= /TEAM =======================*/



/*======================= FOOTER =======================*/
.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}
/*======================= /FOOTER =======================*/



/*======================= FILTER =======================*/
.filter-btn{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--accent-color);
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

/*======================= /FILTER =======================*/



/*======================= Project Card =======================*/
.card-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.card-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*======================= /Project Card =======================*/
